body {
    background-color: darkgoldenrod;
}
p {
    color: antiquewhite;
    font-size: 20px;
}
h1 {
    text-align: center;
}
#score {
    text-align: center;
}
.clear{
    clear: both;
}
#size_block {
    margin-left: -50px;
    padding-left: 50%;
}
#size_title {
    float:left;
    margin-top: 0px;
}
#size {
    width: 50px;
    margin-left: 10px;
    border-radius: 3px;
}
#canvas{
    position: absolute;
    background-color: burlywood;
}
#canvas_block {
    position: absolute;
    left: 550px;
    top: 150px;
}
#back_arrow {
    width: 50px;
    height: 50px;
    position:absolute;
    left: 10px;
    top: 10px;
}
#lose_holder {
    width: 500px;
    height: 500px;
    background: #4d4d4d;
    visibility: visible;
}
#lose_holder.img {
    background: red;
    width: 50px;
    height: 50px;
}
